@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 62.5%;
    --primary-color: #f8f9fa;
    --secondary-color: #0369a1;
    --background-color: #dee2e6;
    --secondary-bg: #fbbf24;
    --font-main: black;
}

* {
	padding: 0;
	margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    > .header {
        background-color: var(--primary-color);
        padding: 2rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        display: grid;
        grid-template-columns: 1fr 4fr repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        > svg {
            width: 20px;
        }

        > input[type="search"] {
            height: 50%;
            padding: 1rem;
            background-color: var(--background-color);
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            grid-column: 2 / 6;
            border-radius: 50px;
            justify-self: stretch;
        }

        > input + svg {
            grid-column: 7;
            justify-self: end;
        }

        > .profile-small {
            grid-column: 8;
            width: 50px;
        }

        > .name-small {
            justify-self: start;
            grid-column: 9 / 10;
            font-size: 1.5rem;
            font-weight: bold;
        }

        > .profile-small,
        > .profile-big {
            border-radius: 100px;
            border: 4px solid var(--secondary-color);
        }

        > .profile-big {
            margin-right: 1rem;
            width: 100px;
        }

        > .profile-big,
        > .new,
        > .upload,
        > .share {
            grid-row: 2 / 4;
        }

        > .greetings {
            font-size: 1.5rem;
            font-weight: bold;
            align-self: self-end;
        }

        > .greetings,
        > .name-big {
            justify-self: start;
        }

        > .name-big {
            font-size: 2.4rem;
            font-weight: bold;
            grid-column: 2 / 4;
            grid-row: 3 / 4;
            align-self: self-start;
        }

        > .new {
            grid-column: 4 / 6;
        }

        > .upload {
            grid-column: 6 / 8;
        }

        > .share {
            grid-column: 8 / 10;
        }

        > .new,
        > .upload,
        > .share {
            width: 75%;
            height: 34%;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            outline: none;
            border: none;
            border-radius: 25px;
            cursor: pointer;
        }
    }

    > .sidebar {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: grid;
        grid-template-rows: 50px 200px 100px;
        row-gap: 50px;

        > .dashboard {
            padding: 20px;
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 3fr;

            > svg {
                width: 50px;
            }

            > .dashboard-title {
                font-size: 2.5rem;
            }
        }

        > .nav1, 
        > .nav2 {
            padding-left: 15px;
            font-size: 1.5rem;
            font-weight: bold;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 3fr;
            row-gap: 20px;

            > svg {
                width: 20px;
                justify-self: center;
            }
        }
    }

    > .main-content {
        box-sizing: border-box;
        padding: 2rem;
        padding-bottom: 5rem;
        background-color: var(--background-color);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 2rem;

        > .title {
            font-weight: bold;
            font-size: 1.8rem;
            align-self: self-end;
        }

        > .card {
            border-radius: 10px;
            background-color: var(--primary-color);
            padding: 2rem;
        }

        > .project.title {
            grid-column: 1 / 9;
        }

        > .project.card {
            box-sizing: border-box;
            width: 100%;
            padding: 0;
            padding-left: 0.2px;
            display: grid;
            grid-template-columns: 0.2fr 4fr repeat(3, 1fr);
            grid-template-rows: 1fr 3fr 1fr;

            > .left-bg-color {
                border-radius: 10px 0 0 10px;
                background-color: var(--secondary-bg);
                grid-row: 1 / -1;
            }

            > .label,
            > .text {
                padding: 1rem;
            }

            > .label {
                font-size: 2.1rem;
                font-weight: bold;
                padding-bottom: 0;
                grid-row: 1 / 2;
                grid-column: 2 / 6;
            }

            > .text {
                grid-row: 2 / 3;
                grid-column: 2 / 6;
            }

            > svg {
                width: 20px;
            }

            > .favorite {
                grid-column: 3;
            }
        }

        > .card-1,
        > .card-2 {
            grid-row: 2 / 5;
        }

        > .card-3,
        > .card-4 {
            grid-row: 5 / 8;
        }

        > .card-5,
        > .card-6 {
            grid-row: 8 / 11;
        }

        > .card-1,
        > .card-3,
        > .card-5 {
            grid-column: 1 / 5;
        }

        > .card-2,
        > .card-4,
        > .card-6 {
            grid-column: 5 / 9;
        }

        > .announcement.title {
            grid-column: 9 / 11;
            grid-row: 1 / 2;
        }

        > .announcement.card {
            grid-column: 9 / 11;
            grid-row: 2 / 6;
        }

        > .trending.title {
            grid-column: 9 / 11;
            grid-row: 6;
        }

        > .trending.card {
            grid-column: 9 / 11;
            grid-row: 7 / 11;
        }
    }
}